.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.logo {
  margin-left:2%;
  text-align: center;
}

.App-header {
  background-color: #3b5998;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.logout-btn {
  font-size:1.3em;
  height: 60px;
  width: 20%;
  background-color: #3b5998 ;
  border: 2px solid #FFF;
  color: #FFF;
  float: right;
  margin-top: 20px;
  margin-right: 4%;
  transition-duration: 0.4s;
  font-family: 'Montserrat', sans-serif;
}


.logout-btn:hover{
  width:26%;
  background-color: #FFF;
  transition-duration: 0.4s;
  color: #3b5998;
  font-family: 'Montserrat', sans-serif;
}

.start-btn {
  font-size:1.3em;
  height: 60px;
  width: 20%;
  background-color: #3b5998 ;
  border: 2px solid #FFF;
  color: #FFF;
  float: right;
  margin-top: 20px;
  margin-right: 6%;
  transition-duration: 0.4s;
  font-family: 'Montserrat', sans-serif;

}

.start-btn:hover {
  width:26%;
  background-color: #FFF;
  transition-duration: 0.4s;
  color: #3b5998;
  font-family: 'Montserrat', sans-serif;

}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
button:hover {
  cursor: pointer; 
  cursor: hand;}
.buttons1{
  width:33vw;
  height:70vh;
  float:left;
  margin-top:3.3%;
}
.buttons2{
  width:33vw;
  height:70vh;
  float:left;
  margin-top:3.3%;
}

.bookingTab {
  font-size: 20px
}
.sched{
  width:30vw;
  height:70vh;
  float:left;
  margin-top:3.3%;
}
.bookhead{
  margin:0 auto;
  background-color:#3b5998;
  width:25vw;
  padding-bottom:5%;
  padding-top:5%;
  color:#fff;
  font-family: 'Montserrat', sans-serif;
  text-align:center;
}
li{
  margin:0% auto;
  margin-top:2.6%;
  list-style-type:none;
  text-align:center;
  width:24.5vw;
  font-size:1.8em;
  background:#fff;
  border:2px solid #3b5998;
  padding-bottom:5%;
  padding-top:5%;
  transition-duration:0.4s;

}
li:hover{
  border:2px solid #ff0000;
  transition-duration:0.4s;
  box-shadow: 5px 10px 5px #888;
}

.available {
  width: 100%;
  margin-left: 10%;
}
.btnClass {
  display:inline;
  margin: 10% 1% 4% 2.5%;
  
  width:12vw;
  height:7vw;
  background-color:#3b5998;
  color:#fff;
  font-size:2em;
  border:1px solid white;
  transition:0.4s;
  font-family: 'Montserrat', sans-serif;
}

.btnClass:hover {
  border:2px solid #ff0000;
  transition-duration:0.4s;
  box-shadow: 5px 10px 5px #888;
}
.button{
  display:block;
  margin:0 auto;
  margin-bottom:15%;
  width:26vw;
  height:15vw;
  background-color:#3b5998;
  color:#fff;
  font-size:2em;
  border:1px solid white;
  transition:0.4s;
  font-family: 'Montserrat', sans-serif;
}
.button:hover{
  background-color:#fff;
  color:#3b5998;
  transition:0.4s;
  border-color:#3b5998;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
 
.container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
 
input {
    font-size:1.3em;
    border: none;
    padding: 1%;
    border-radius: 10px;
}
input::placeholder{
  top:0;
  left:0;
  font-size:.7em;
}
 
.name {
    width:33%;
    height: 5%;
    margin-right: 5.5%;
    margin-top: 1%;
}
 
.pw {
    width: 33%;
    height: 5%;
    margin-right: 3%;
    margin-top: 1%;
}
 
.reg {
    width:45%;
    float: right;
    margin-top: 5%;
    margin-right: 4.5%;
    display: inline;
    background-color: #3b5998;
    border-radius: 10px;
    color: white;
}
 
 
.regform {
    width: 100%;
    height: 100%;
    border: 2px;
    text-decoration: none;
    text-align: justify;
    text-align: center;
}
 
.reg_namn{
    width: 40%;
    height: 20%;
}
 
.reg_mail{
    width: 40%;
    height: 20%;
    margin-left: 6%;
}
 
.reg_nr{
    width: 88%;
    height: 20%;
    margin-top: 8%;
}
 
.reg_pw {
    width: 88%;
    height: 20%;
    margin-top: 8%;
   
}
 
.headbar {
  background-color: #3b5998;
  height: 50px;
  padding: 20px;
  color: white;
}
 
.headbar img{
    background-color: #3b5998;
    float: left;
    width:170px;
    height:auto;
    margin-left: 2%;
}
 
.nav {
    display: inline;
    float: right;
    margin-right:40px;
}
 
 
.btn-log {
    font-size:1.3em;
    width:20%;
    height: 20%;
    border:2px solid white;
    border-radius: 10px;
    background-color:#3b5998;
    color: white;
    transition:0.4s;
    margin-top: 1%;
    padding:1%;
}
 
.btn-log:hover {
    background-color:white;
    color:#3b5998;
    transition:0.4s;
}
 
.btn_reg {
    font-size:1.3em;
    width: 90%;
    height: 20%;
    border:2px solid white;
    border-radius: 10px;
    background-color: #3b5998;
    color: white;
    transition:0.4s;
    margin-bottom: 5%;
    margin-top: 8%;
    padding:1%;
}
 
.btn_reg:hover {
    background-color:#fff;
    color:#3b5998;
    transition:0.4s;
}
 
.horse {
    width:43%;
    height:38%;
    margin-top: 5%;
    border:2px;
    border-radius: 10px;
    margin-left: 4%;
}

dialog {
  border: none;
  border-radius: 10px;
  padding: 50px;
  font-size: 16px;
}
.modalInput {

  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  width: 98%;
}

.modalInput::placeholder {
  font-size: 16px;
}

.modalInput {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif; 
}

.modalInput[type='text'] {
  font-size: 16px;
  border: solid black;
  margin-bottom: 10px;
  font-family: sans-serif;
}

.textInput {
  height: 100px;
  width: 98%;
  font-size: 16px;
  border: none;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
}

.textInput[type='text'] {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
.textInput::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.h3dialog {
  text-align: center;
  color: #3b5998;
}

.bookingh1 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: -5%;
  font-family: 'Montserrat', sans-serif;
}

.confirmBooking {
  padding: 10px 111px 10px;
  margin: 20px 0 -10px 0;
  
  background-color: #3b5998;
  color: white;
  
  text-align: center;
  border-radius: 10px;
  border: 2px solid #3b5998;
 } 

 .confirmBooking:hover{
  background-color: #4769af ;
  color: white;
 }

 .hej {
  text-align: center;
 }

 .closeModal{ 
   position: absolute;
   top: 0;
   right: 1;
   margin-top: 18px;
   border: none;
   background-color: #FFF;
   color: #3b5998;
   font-size: 20px;
 }


@media (max-width: 1200px) {

  .headbar {
    background-color: #3b5998;
    height: 50px;
    padding: 20px;
    color: white;
  }

  .nav {
    display: inline;
    float: right;
    margin-right:-130px;
  }

  .name {
    width:22%;
    height: 5%;
    margin-right: 5.5%;
    margin-top: 1%;
  }
 
  .pw {
    width: 22%;
    height: 5%;
    margin-right: 5.5%;
    margin-top: 1%;
  }



}

@media (max-width: 800px) {

  .headbar {
    background-color: #3b5998;
    color: white;
    height: 120px;
    padding: 20px;
  }

  .nav {
    margin-top:20px;
    display: inline;
    float: right;
    margin-right:-120px;
  }
}

@media (max-width: 480px) {

  .headbar {
    background-color: #3b5998;
    color: white;
    height: 260px;
    padding: 20px;
  }

  .headbar img {
    background-color: #3b5998;
    width:40vw;
    margin-left:26%;
  }

  .horse {
    display:none;
  }

  .reg {
    width:90vw;
    display: inline;
    background-color: #3b5998;
    border-radius: 10px;
    color: white;
  }

  .nav {
    display: inline;
    margin-top: 2%;
    float:left;
    margin-left:0px;
    width:100vw;
  }

  .name {
    width:85.5vw;
    height: 7%;
    margin-top: 5%;
    padding: 2%;
  }

  .pw {
    width:85.5vw;
    height: 7%;
    margin-top: 5%;
    padding: 2%;
  }

  .btn-log {
    background-color: #3b5998;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-size: 1.3em;
    height: 20%;
    margin-top: 6%;
    padding: 4%;
    transition: all 0.4s ease 0s;
    width: 90vw;
  }

}

